.terminal {
    height: calc(100vh - (40px * 2));
    margin: 40px 0px;
    padding: 20px;

    background: #131319;
    color: #f8f8f8;

    border: solid;
    border-color: #11454a;
    border-bottom-right-radius: 10px;
    border-width: 1px;

    box-shadow: 1px 1px 2px 1px #eae9ed;

    position: relative;
    overflow: auto;
}

.terminal-container {
    padding-top: 1px;
    margin-top: -1px;
}

@media only screen and (max-width: 1023px) {
    .terminal {
        margin: 0;
        height: 100vh;
    }
}