.terminal {
    height: calc(100vh - (40px * 2));
    @apply my-10 p-4 shadow relative overflow-auto border-2 text-gray-100;

    background: #131319;
    border-color: #11454a;
    border-bottom-right-radius: 10px;
}

.terminal-container {
    padding-top: 1px;
    margin-top: -1px;
}

@media only screen and (max-width: 1023px) {
    .terminal {
        margin: 0;
        height: 100vh;
    }
}