@font-face {
    font-family: ancient-modern-tales-font;
    src: url('../../fonts/ancient-modern-tales-font/AncientModernTales-a7Po.ttf');
}

@font-face {
    font-family: eight-bit-dragon-font;
    src: url('../../fonts/eight-bit-dragon-font/EightBitDragon-anqx.ttf');
}