// colors
$primary: #54ffc2;
$primary-invert: findColorInvert($primary);
$secondary: #fd56d1;
$secondary-invert: findColorInvert($secondary);
$tertiary: #181e43;
$tertiary-invert: findColorInvert($tertiary);
$custom-colors: (
    "secondary": ($secondary, $secondary-invert),
    "tertiary": ($tertiary, $tertiary-invert)
);
//

// font
$family-primary: eight-bit-dragon-font;
$family-secondary: ancient-modern-tales-font;
//

// body
$body-background: linear-gradient(160deg, #001, #000);
//

// terminal
$terminal-margin: 40px;
$terminal-padding: 20px;
$terminal-width: 80%;
$terminal-background: #131319;
$terminal-border: #11454a;
//